(ns pine.config)

(def config
  {
   :connection-id :default
   :connections {
                 :default
                 {:host "host.docker.internal"
                  :dbtype "mysql"
                  :dbname "information_schema"
                  :user "root"
                  :password "secret"
                  ;; required for mysql pooling
                  :classname "com.mysql.jdbc.Driver"
                  :subname  "//host.docker.internal:3306/information_schema"}

                 :mysql-test
                 {:host "host.docker.internal"
                  :dbtype "mysql"
                  :dbname "tmp"
                  :user "root"
                  :password "secret"
                  ;; required for mysql pooling
                  :classname "com.mysql.jdbc.Driver"
                  :subname  "//host.docker.internal:3306/tmp"}

                  }})