(ns pine.config)


;; Config

(let

    [db-host "127.0.0.1"
     db-port 3306
     db-name "?"
     db-user "?"
     db-password "?"]


  (def db {:classname "com.mysql.jdbc.Driver"
           :subprotocol "mysql"
           :subname (str "//" db-host ":" db-port "/" db-name)
           :user db-user
           :password db-password
           :name db-name
           }))
